$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #333;
body {
    font: 100% $font-stack;
    color: $primary-color;
    margin: 0.4em;
}
header {
    background-color: grey;
}
#main {}
.box {
    background-color: orange;
    padding: 0;
    margin: 0;
    display: inline-table !important;
    padding: 1em;
    float: left;
}
img {
    width: 100%;
}
footer {
    background-color: red;
    clear: both;
}