$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: black;
$second-color: white;
$third-color: #ff2a8c;
$bgColor: #15002a;
$acent: #00cae3;
$margin-elements: 0.4em;
$margin-elements-2: 0.6em;
$borders: 0.3em;
$margin-content-elements: 0.1em;
$number-colum-sm: 2;
$number-colum-md: 3;
$number-colum-l: 4;
@mixin grab-cursor {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
@mixin grabbing-cursor {
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
#sortable1, #sortable2, #sortable3, #sortable4 {
    border: 1px solid $second-color;
}
html {
    height: 100%;
}
body {
    font: 100% $font-stack;
    color: $second-color;
    margin: $margin-elements;
    background-color: $bgColor;
    background-image: linear-gradient(#4a0082, #15002a);
    max-width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: $margin-elements-2;
    display: flow-root;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background-color: #59339d;
    border-radius: $borders;
    padding: $margin-elements-2;
    margin-bottom: 1em;
    h1 {
        margin: 0;
    }
}
#main {
    display: flow-root;
    margin-bottom: 4%; // Correción bgcolor: linear-gradient
    column-count: $number-colum-l;
}
// > 625px 3 column
@media only screen and (max-width: 1000px) {
    #main {
        column-count: $number-colum-md;
    }
}
// < 625px 2 column
@media only screen and (max-width: 625px) {
    #main {
        column-count: $number-colum-sm;
    }
}
.head-category {
    //background-color: $acent;
    padding: 0;
    margin: 0;
    display: inline-table !important;
    padding: $margin-content-elements; // float: left;
    width: 100%;
    text-align: center;
    border-radius: $borders;
    padding: $margin-elements-2 + 0.3em $margin-elements-2 - 0.3em;
}
.title-category {
    background-color: $second-color;
    border-radius: $borders;
    margin-bottom: $margin-elements;
    padding: $margin-elements-2 + $margin-elements;
    span {
        color: $primary-color;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}
.content-category {
    background-color: $second-color;
    max-height: 35em;
    overflow: auto;
    /* aparición del scroll */
    border-radius: $borders;
}
.box-link {
    background-color: $third-color;
    margin: 0.18em;
    border-radius: $borders;
    padding: 1.4em $margin-elements-2;
}
.grab {
    @include grab-cursor; // @include transition(transform .2s, box-shadow .2s);
    &:active {
        @include grabbing-cursor;
    }
}
img {
    width: 100%;
}
footer {
    background-color: #6610f2;
    clear: both;
    margin-top: $margin-elements;
    float: left;
    width: 100%;
}
/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 9px;
}
/* Track fondo del scroll*/

::-webkit-scrollbar-track {
    background: #ffa2cd;
    border-radius: 4px;
}
/* Handle botón del scroll*/

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
/* Handle on hover al pulsar */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}